<template>

<g  :transform="transformValue">

        <path d="M96,21.5c18.5,0,33.5,14.6,33.5,32.5s-15,32.5-33.5,32.5S62.5,71.9,62.5,54S77.5,21.5,96,21.5 M96,21
		c-18.8,0-34,14.8-34,33s15.2,33,34,33s34-14.8,34-33S114.8,21,96,21L96,21z"/>
    <text transform="matrix(1 0 0 1 100 60)" font-family="'MyriadPro-Regular'" fill="#000" font-size="16px">{{this.p}}</text>

</g>
</template>
<script>
    export default {
        name: "StDate",
        props: {
            x1: {
                default: 0,
            },
            y1: {
                default: 0,
            },
            p:{default:0,
            }
        },
        computed:{
            transformValue(){
                return `translate(${this.x1}, ${this.y1})`;
            }
        }
    }
</script>