<template>
    <div>


    <v-btn class="valve11" @click="changeValue11"
    >Кран11</v-btn>
    <v-btn class="valve12" @click="changeValue12"
    >Кран12</v-btn>
    <v-text-field label="Датчик 1" v-model="this.item.d1" />

        <v-btn class="valve13" @click="changeValue21"
        >Кран21</v-btn>
    <v-text-field label="Датчик 2" v-model="this.item.d2"/>
        <v-text-field label="Датчик 3" v-model="this.item.d3"/>

        <v-btn class="valve41" @click="changeValue41"
        >Кран41</v-btn>
        <v-text-field label="Датчик 4" v-model="this.item.d4"/>

        <v-btn class="valve44" @click="changeValue44"
        >Кран44</v-btn>

        <v-text-field label="Датчик 5" v-model="this.item.d5"/>
        <v-btn class="valve51" @click="changeValue51"
        >Кран51</v-btn>
        <v-text-field label="Датчик 6" v-model="this.item.d6" />
        <v-btn class="valve71" @click="changeValue71"
        >Кран71</v-btn>
        <v-text-field label="Датчик 7" v-model="this.item.d7" />
        <v-btn class="valve42" @click="changeValue42"
        >Кран42</v-btn>



    </div>
</template>
<script>
    export default {
        name: 'StDat1',
        data: () => ({
            item: {d1: '0', d2: '1', d3: '0', d7: '2', d6: '0', d4: '3', d5:'6'},
            valve1: {
                open: false
            },
            v11: false,
            v12: false,
            v21: false,
            v41: false,
            v44: false,
            v42:false,
            v71: false,
            v51: false,
            value1: 2,
            value2: 1,
            value3: 3,
            value44: 6,
            pump1: 1,
            pump2: 2,
        }),
        methods: {

            changeValue11() {
                this.v11 = !this.v11;
                this.item.d1 = this.value1;
                console.log('Кран11 открыт? -  ' + this.v11);
                console.log('Давление от 1.1 крана? -  ' + this.item.d1);
                if (!this.v11 && this.v12 && this.item.d1 > this.pump1) {
                    this.item.d1 = (this.item.d1 + this.pump1) / 2;
                }
            },

            changeValue12() {
                this.v12 = !this.v12;
                if (this.item.d1 == 0) {
                    this.item.d1 = this.value2;
                }
                if (this.v12 && this.v11) {
                    this.value1 = (Math.max(this.value1, this.value2));
                    this.item.d1 = this.value1;
                }
                console.log('Кран12 открыт? -  ' + this.v12);
                console.log('Давление от 1.2 крана? -  ' + this.item.d1);

            },

            changeValue21() {
                this.v21 = !this.v21;


                this.item.d3 = this.item.d2;

                this.item.d3 = this.item.d2;
                if (!this.v41 && this.v21 && this.item.d2 > this.pump1) {
                    this.item.d2 = (this.item.d2 + this.pump1) / 2;
                }
                if (!this.v41 && !this.v21 && this.item.d2 > this.pump1) {
                    this.item.d2 = (this.item.d2 + this.pump1) / 2;

                }
                if (!this.v41 && this.v21 && this.item.d3 > this.item.d2) {
                    this.item.d3 = (this.item.d3 + this.item.d2) / 2;
                    this.item.d2 = this.item.d3;

                }
                if (this.v41 && !this.v21 && this.item.d2 > this.pump1) {

                    this.item.d2 = (+this.item.d2 + this.pump1) / 2
                    console.log('this.item.d2 ' + this.item.d2);
                }
                if (this.v41 && this.v21) {
                    this.item.d3 = this.item.d4;
                    this.item.d2 = this.item.d4;
                }
                if (this.v44 && this.v21) {
                    this.item.d3 = this.value44;
                    this.item.d2 = this.value44;
                }
                if (!this.v44 && !this.v21 && !this.v41 &&  this.item.d3>0){
                    this.item.d3 =(+this.item.d3)/2;
                }
                console.log('Кран21 открыт? -  ' + this.v21);
                console.log('Открыт кран 21, значение датчика this.item.d2 - ' + this.item.d2 +
                    ' значение датчика this.item.d3 - ' + this.item.d3);

            },
            changeValue71() {
                this.v71 = !this.v71;
                this.item.d6 = this.item.d7;
                if(this.v51 && this.v71 ){
                    this.item.d6=this.value44;
                    this.item.d7=this.value44;
                }
                if(!this.v71 && this.item.d7>this.value1){
                    this.item.d7=(+this.item.d7+this.value1)/2;
                }
                if(!this.v71 && !this.v51 && !this.v42 && this.item.d6>0){
                    this.item.d6=(+this.item.d6)/2;
                }
                if(this.v42 && this.v71 && !this.v51 && this.item.d6<this.value44){
                    this.item.d6=this.value3;
                    this.item.d7=this.value3;
                }

                console.log('Кран71 открыт? -  ' + this.v71);
                console.log('Открыт кран 71, значение датчика this.item.d6 ' + this.item.d6);

            },
            changeValue41() {

                this.v41 = !this.v41;
                this.item.d3 = this.item.d4;
                if (this.v41 && this.v21) {
                    this.item.d3 = this.item.d4;
                    this.item.d2 = this.item.d4;
                }
                if (!this.v41 && this.v21 && this.item.d2 > this.pump1 && this.item.d3 === this.item.d2) {
                    this.item.d2 = (this.item.d2 + this.pump1) / 2;
                    this.item.d3 = this.item.d2;
                }
                if (this.v44  && this.v41) {
                    this.item.d3 = this.value44;

                    this.item.d4 = this.value44;
                }
                if (!this.v41 && this.item.d4 > this.value3){
                    this.item.d4=(+this.item.d4+this.value3)/2;
                }
                if (!this.v44 && !this.v21 && !this.v41 &&  this.item.d3>0){
                    this.item.d3 =(+this.item.d3)/2;
                }
                    console.log('Кран41 открыт? -  ' + this.v41);

            },
            changeValue44() {
                this.v44 = !this.v44;

                if (this.v44 && !this.v21 && !this.v41) {
                    this.item.d3 = this.value44;
                    console.log('this.item.d3 - ' + this.item.d3);
                }
                if (this.v44 && this.v21){
                    this.item.d3 = this.value44;
                    this.item.d2 = this.value44;
                }
                if (this.v44 && this.v21 && this.v41) {
                    this.item.d3 = this.value44;
                    this.item.d2 = this.value44;
                    this.item.d4 = this.value44;
                }
                if (!this.v44 && !this.v21 && !this.v41 &&  this.item.d3>0){
                    this.item.d3 =(+this.item.d3)/2;
                }
                    console.log('Кран44 открыт? -  ' + this.v44);

            },
            changeValue51(){
                this.v51 = !this.v51;
                if(this.v51){
                    this.item.d6=this.value44;
                }
                if(this.v51 && this.v71 ){
                    this.item.d6=this.value44;
                    this.item.d7=this.value44;
                }
                if(!this.v51 && this.v71 &&  this.item.d6>this.value1){
                    this.item.d6=(+this.item.d6+this.value1)/2;
                    this.item.d7=this.item.d6;
                }
                if(!this.v71 && !this.v51 && this.item.d6>0){
                    this.item.d6=(+this.item.d6)/2;
                }
                if(!this.v71 && !this.v51 && !this.v42 && this.item.d6>0){
                    this.item.d6=(+this.item.d6)/2;
                }
                console.log('Кран51 открыт? -  ' + this.v51);
            },
            changeValue42(){
                this.v42 = !this.v42;
                if(this.v42 && !this.v51 && !this.v71){
                    this.item.d6=this.value3;
                }

                if(this.v42 && this.v71 && !this.v51 && this.item.d6<this.value44){
                    this.item.d6=this.value3;
                    this.item.d7=this.value3;
                }
                if(!this.v71 && !this.v51 && !this.v42 && this.item.d6>0){
                    this.item.d6=(+this.item.d6)/2;
                }

            }
        }
    }



</script>