<template>

<g :transform="transformValue">
    <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="0" y1="0" x2="0" y2="200"/>
</g>

</template>
<script>
    export default {
        name: 'StLine',
        props: {
           x:{type:[Number, String]},
            y:{type:[Number, String]}
        },
        data: () => ({

         //   x:10,
         //   y:10,
            //
        }),
    methods:{
        transformValue(){
            return `translate(${this.x}, ${this.y})`;
        },


    }
    }
</script>