<template>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
         :viewBox="`0 0 ${width} ${height}`" :width="width" :height="height">
        <slot></slot>
    </svg>
    <!--<st-line></st-line>-->


</template>
<script>
    export default {
        name:"StPressure",
        props:{
            width:{
                type:[Number, String],

            },
            height:{
                type:[Number, String],

            }
        }

    }




</script>