<template>
    <g  :transform="transformValue">

        <rect x="0" y="122.5" fill="#4348A8" width="102" height="84"/>
        <text transform="matrix(1 0 0 1 40 170)" font-family="'MyriadPro-Regular'" fill="#fff" font-size="16px">
           {{this.title}}
        </text>
    </g>
</template>
<script>
    export default {
        name:"StPump",
        props: {
            x2: {
                default: 0,
            },
            y2: {
                default: 0,
            },
            title:{default:''},
        },
        computed:{
            transformValue(){
                return `translate(${this.x2}, ${this.y2})`;
            }
        }
    }

</script>