<template>
    <g transform="translate(-50, 0)">
    <g>
        <path d="M949,244v434H501V244H949 M950,243H500v436h450V243L950,243z"/>
    </g>
    <g>
        <path d="M644,89v449H150V89H644 M645,88H149v451h496V88L645,88z"/>
    </g>
    </g>
</template>
<script>
    export default {
        name:"StScheme",
    }

</script>