<template>
    <v-row>
        <v-col>

        </v-col>
        <v-col>

        </v-col>
    </v-row>
</template>

<script>
    export default {
        name: "StTruba",
        data:()=>({

            key:[
                {
                    id:"k1",
                    status:false,
                    l1:"t1",
                    l2:"t3",
                },
                {
                    id:"k2",
                    status:false,
                    l1:"t1",
                    l2:"t2",
                },
                {
                    id:"k3",
                    status:false,
                    l1:"t2",
                    l2:"t4",
                },
                {
                    id:"k4",
                    status:false,
                    l1:"t2",
                    l2:"t7",
                },
                {
                    id:"k5",
                    status:false,
                    l1:"t3",
                    l2:"t5",
                },{
                    id:"k6",
                    status:false,
                    l1:"t2",
                    l2:"t5",
                },{
                    id:"k7",
                    status:false,
                    l1:"t3",
                    l2:"t6",
                },
                {
                    id:"k8",
                    status:false,
                    l1:"t6",
                    l2:"t8",
                },
                {
                    id:"k9",
                    status:false,
                    l1:"t7",
                    l2:"t8",
                },
                {
                    id:"k10",
                    status:false,
                    l1:"t3",
                    l2:"t4",
                },
            ],
            group:null,
        }),
        mounted() {
            this.analize();
        },
        methods:{
            analize(){
                this.group = null;
                this.tochki.forEach(t=>{
                    t.group=this.group;
                });
                this.group = 1;

                this.tochki.forEach(t=>{
                    if(t.group === null){
                        this.setGroup(t, this.group);
                        this.group++;
                    }
                });
                let groups = this.getGroups();
                groups.forEach(g=>{
                    let clear = g.list.find(t=>t.clear);
                    if(clear){
                        g.list.forEach(t=>{
                            t.p=0;
                        });
                    }else{
                        let P = g.list.reduce((sum,t)=>(sum+t.p), 0) / g.list.length;
                        let P0 = Math.max(...g.list.map(t=>t.p0));
                        P = Math.max(P, P0);
                        g.list.forEach(t=>{
                            t.p=P;
                        });
                    }
                });
            },
            setGroup(t, group){
                if(t.group === null){
                    t.group = group;
                    let keys = this.key.filter( k=>((k.l1===t.id || k.l2 === t.id) && k.status) );
                    keys.forEach(k=>{
                        let t2;
                        if(k.l1===t.id){
                            t2 = this.tochki.find(i=>(i.id === k.l2));
                        }else{
                            t2 = this.tochki.find(i=>(i.id === k.l1));
                        }
                        this.setGroup(t2, group);
                    })
                }
            },
            getGroups(){
                return this.tochki.reduce((res, i)=>{
                    let g = res.find(j=>j.group_id === i.group);
                    if(g){
                        g.list.push(i);
                    }else{
                        res.push({
                            group_id:i.group,
                            list:[i],
                        })
                    }
                    return res;
                },[]);
            },
            change(i){
                i.status = !i.status;
                this.analize();
            }
        }
    }
</script>

<style scoped>

</style>