<template>
    <g  v-on="$listeners" :transform="transformValue" >
<g :transform="transformRotate">
        <g>
            <ellipse fill="#fff" cx="0" cy="0" rx="28" ry="28" stroke-width="5" stroke="#87d8ff"/>
        </g>
    <g  >
        <line fill="none" stroke="#87d8ff" stroke-width="5" stroke-miterlimit="10" x1="0" y1="-23" x2="0" y2="23"/>
    </g>
        </g>
    </g>
</template>
<script>
    export default {
        name: "StValve",
        props:{
            x:{
                default:0,
            },
            y:{
                default:0,
            },
            angle:{
                default:0,
            }

        },
        computed:{
            transformRotate(){
                return `rotate(${this.angle})`;
            },
            transformValue(){
                return `translate(${this.x}, ${this.y})`;
            }
        }
    }

</script>