<template>
    <v-app>

        <v-row>
            <v-col>
                <v-list>
                    <v-list-item v-for="(i) in tochki" :key="i.id" class="elevation-10">
                        {{i.id}} | group={{i.group}} | p={{i.p}}
                    </v-list-item>
                </v-list>
            </v-col>
            <v-col>
                <v-list>
                    <v-list-item v-for="(i) in key" :key="i.id" class="elevation-10" @click="change(i)">
                        {{i.id}} | <span :style="{backgroundColor:i.status?'green':'red'}">{{i.status}}</span>
                    </v-list-item>
                </v-list>
            </v-col>
        </v-row>

        <st-pressure width="1000" height="1000" class="st-layer">
            <st-scheme></st-scheme>
            <st-valve @click="[change(i), rotateValve(i)]" :angle="i.angle" :x="i.x" :y="i.y"
                      v-for="(i) in key" :key="i.id"
            ></st-valve>
            <st-pump v-for="(items,ink) in pumps" :key="ink"
                     :x2="items.x" :y2="items.y" :title="items.title"></st-pump>
            <st-date v-for="(i) in tochki" :key="i.id"
                     :x1="i.x" :y1="i.y" :p="i.p">


            </st-date>


        </st-pressure>

    </v-app>
</template>

<script>

    import StValve from './components/StValve';
    import StPressure from './components/StPressure';
    import StPump from './components/StPump';
    import StScheme from './components/StScheme';
    import StDate from './components/StDate';

    export default {
        name: 'App',

        components: {
            StScheme,

            StPressure,
            StValve,
            StPump,
            StDate
        },

        data: () => ({


            pumps: [
                { id:'v1',
                    x: 320,
                    y: -90,
                    title: '1 Па'
                },
                { id:'v2',
                    x: 50,
                    y: 100,
                    title: '2 Па'
                },
                { id:'v3',
                    x: 400,
                    y: 200,
                    title: '3 Па'
                },
                { id:'v4',
                    x: 550,
                    y: 240,
                    title: '6 Па'
                },
            ],
            tochki: [
                {
                    id: "t1",
                    clear: true,
                    p0: 0,
                    p: 0,
                    group: null,
                    x: 350,
                    y: 650
                },
                {
                    id: "t2",
                    clear: false,
                    p0: 0,
                    p: 0,
                    group: null,
                    x: 305,
                    y: 480
                },
                {
                    id: "t3",
                    clear: false,
                    p0: 0,
                    p: 0,
                    group: null,
                    x: 500,
                    y: -20
                }, {
                    id: "t4",
                    clear: false,
                    p0: 6,
                    p: 0,
                    group: null,
                    x: 500,
                    y: 440
                }, {
                    id: "t5",
                    clear: false,
                    p0: 3,
                    p: 0,
                    group: null,
                    x: 350,
                    y: 230
                }, {
                    id: "t6",
                    clear: false,
                    p0: 1,
                    p: 0,
                    group: null,
                    x: 360,
                    y: -20
                },
                {
                    id: "t7",
                    clear: false,
                    p0: 2,
                    p: 0,
                    group: null,
                    x: 100,
                    y: 485
                },
                {
                    id: "t8",
                    clear: false,
                    p0: 0,
                    p: 0,
                    group: null,
                    x: 50,
                    y: 30
                },
            ],
            key: [
                {
                    id: "k1",
                    status: false,
                    l1: "t1",
                    l2: "t3",
                    x: 800,
                    y: 250,
                    angle: 0,
                },
                {
                    id: "k2",
                    status: false,
                    l1: "t1",
                    l2: "t2",
                    x: 450,
                    y: 600,
                    angle: 90,
                },
                {
                    id: "k3",
                    status: false,
                    l1: "t2",
                    l2: "t4",
                    x: 540,
                    y: 540,
                    angle: 0,
                },
                {
                    id: "k4",
                    status: false,
                    l1: "t2",
                    l2: "t7",
                    x: 300,
                    y: 540,
                    angle: 0,
                },
                {
                    id: "k5",
                    status: false,
                    l1: "t3",
                    l2: "t5",
                    x: 500,
                    y: 250,
                    angle: 0,
                }, {
                    id: "k6",
                    status: false,
                    l1: "t2",
                    l2: "t5",
                    x: 450,
                    y: 450,
                    angle: 90,
                }, {
                    id: "k7",
                    status: false,
                    l1: "t3",
                    l2: "t6",
                    x: 500,
                    y: 90,
                    angle: 0,
                },
                {
                    id: "k8",
                    status: false,
                    l1: "t6",
                    l2: "t8",
                    x: 240,
                    y: 90,
                    angle: 0,
                },
                {
                    id: "k9",
                    status: false,
                    l1: "t7",
                    l2: "t8",
                    x: 100,
                    y: 150,
                    angle: 90,
                },
                {
                    id: "k10",
                    status: false,
                    l1: "t3",
                    l2: "t4",
                    x: 593,
                    y: 300,
                    angle: 90,
                },
            ],
            group: null,
            //
        }),
        mounted() {
            this.analize();
        },
        methods: {
            rotateValve(i) {
                i.angle = (i.angle + 90) % 180;
                return i.angle;
            },
            analize() {
                this.group = null;
                this.tochki.forEach(t => {
                    t.group = this.group;
                });
                this.group = 1;

                this.tochki.forEach(t => {
                    if (t.group === null) {
                        this.setGroup(t, this.group);
                        this.group++;
                    }
                });
                let groups = this.getGroups();
                groups.forEach(g => {
                    let clear = g.list.find(t => t.clear);
                    if (clear) {
                        g.list.forEach(t => {
                            t.p = 0;
                        });
                    } else {
                        let P = g.list.reduce((sum, t) => (sum + t.p), 0) / g.list.length;
                        let P0 = Math.max(...g.list.map(t => t.p0));
                        P = Math.max(P, P0);
                        g.list.forEach(t => {
                            t.p = P;
                        });
                    }
                });
            },
            setGroup(t, group) {
                if (t.group === null) {
                    t.group = group;
                    let keys = this.key.filter(k => ((k.l1 === t.id || k.l2 === t.id) && k.status));
                    keys.forEach(k => {
                        let t2;
                        if (k.l1 === t.id) {
                            t2 = this.tochki.find(i => (i.id === k.l2));
                        } else {
                            t2 = this.tochki.find(i => (i.id === k.l1));
                        }
                        this.setGroup(t2, group);
                    })
                }
            },
            getGroups() {
                return this.tochki.reduce((res, i) => {
                    let g = res.find(j => j.group_id === i.group);
                    if (g) {
                        g.list.push(i);
                    } else {
                        res.push({
                            group_id: i.group,
                            list: [i],
                        })
                    }
                    return res;
                }, []);
            },
            change(i) {
                i.status = !i.status;
                this.analize();
            }
        }
    }

</script>
<style>

    .st-layer {
        width: 100%;
        height: 100%;
    }
</style>
